{% extends "layout.html" %}

{% block body %}
  <p>
    Tervetuloa pit&auml;m&auml;&auml;n kirjaa!
  </p>

{% if current_user.is_authenticated %}

{% if current_user.get_role() == "admin" %}

  <p>
      Aloittaaksesi sinun pitää perustaa:

      <ul>
        <li>Tiliryhmät ja tilit (Kohdassa Tilit)</li>
        <li>Toiminnot ja kustannuspaikat (Kohdassa Kohteet)</li>
        <li>Tositelajit (Kohdassa tositelajit)</li>
        <li>Tilikausi (Kohdassa kaudet)</li>
        <li>Voit lisätä käyttäjiä esimerkiksi tarkastajaksi (Kohdassa Käyttäjät)</li>
        <li>Tositteita voi kirjata kohdassa (Tositteet)</li>
      </ul>
  </p>

 {% else %}

  <p>
    Hyväksyjän roolissa voit hyväksyä pääkäyttäjän tekemiä tositteita (Kohdassa Tositteet).
    Hyväksyttyä tositetta ei voi enää muuttaa.
  </p>

 {% endif %}

   <p>
      Tässä vaiheessa sovelluksesta puuttuu vielä kokonaan raportointi. Raportit muodostettaisiin
      tiliryhmien, tilien, toimintojen ja kustannuspaikkojen avulla.    
  </p>

  {% endif %}
  
{% endblock %}
