{% extends "layout.html" %}

{% block body %}
  <p>
    Tervetuloa pit&auml;m&auml;&auml;n kirjaa!
  </p>

  <p>
      Aloittaaksesi sinun pitää perustaa:

      <ul>
        <li>Tiliryhmät ja tilit (Kohdassa Tilit)</li>
        <li>Toiminnot ja kustannuspaikat (Kohdassa Kohteet)</li>
        <li>Tositelajit (Kohdassa tositelajit)</li>
        <li>Tilikausi (Kohdassa kaudet)</li>
        <li>Voit lisätä käyttäjiä esimerkiksi tarkastajaksi (Kohdassa Käyttäjät)</li>
        <li>Tositteita voi kirjata kohdassa (Tositteet)</li>
      </ul>
  </p>

  <p>
      Ajan puutteen vuoksi sovelluksesta puuttuu kokonaan raportointi. Raportit muodostettaisiin
      tiliryhmien, tilien, toimintojen ja kustannuspaikkojen avulla.    
  </p>
  
{% endblock %}
