<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Kirjanpito</title>
  </head>

  <body>
    {% if current_user.is_authenticated %}
      <p>
	      Kirjautunut nimellä {{ current_user.name }}. <a href="{{ url_for('auth_logout') }}">Kirjaudu ulos</a>
      </p>
      </p>
    {% else %}
      <a href="{{ url_for('auth_login') }}">Kirjaudu</a>
      <a href="{{ url_for('auth_register') }}">Rekister&ouml;idy</a>
    {% endif %}
    
    <a href="{{ url_for('entity_select_for_edit')}}">Yhteis&ouml;</a> 
    <a href="{{ url_for('accounts_index') }}">Tililuettelo</a>
    <a href="{{ url_for('accounts_form') }}">Lis&auml;&auml; tili</a>
    
    <p>
      <!-- Väli -->
    </p>

    {% block body %}
      <p>
        Content.
      </p>
    {% endblock %}
  </body>
</html>
