{% extends "layout.html" %}

{% block body %}
<div>
  <table class="container-fluid">
    <tr>
      <th>Tiliryhm&auml;</th>
      <th>&nbsp;</th>
      <th>Tiliryhm&auml;n nimi</th>
      <th>Kuvaus</th>
      <th>K&auml;yt&ouml;ss&auml;</th>
      <th></th>
      <th>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#addAccountGroup" aria-expanded="false" aria-controls="addAccountGroup">
            &#x2b;
        </button>
      </th>
    </tr>

    {# UUSI TILIRYHMÄ ALKAA #}

    <form method="POST" action="{{ url_for('accountgroup_new_group') }}">
        <tr class="collapse" id="addAccountGroup">
        <td>{{ newaccountgroupform.number }}</td>
        <td></td>
        <td>{{ newaccountgroupform.name }}</td>
        <td>{{ newaccountgroupform.description }}</td>
        <td>{{ newaccountgroupform.inuse }}</td>
        <td></td>
        <td>
          <input type="submit" value="Lis&auml;&auml; ryhm&auml;"/>
        </td>
    </tr>
    {% if newaccountgroupform.number.errors %}
    <tr>
      <td></td>
      <td colspan="6">
        <ul>
          {% for error in newaccountgroupform.number.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    {% endif %}
    {% if newaccountgroupform.name.errors %}
    <tr>
      <td></td>
      <td colspan="6">
        <ul>
          {% for error in newaccountgroupform.name.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    {% endif %}
    {% if newaccountgroupform.description.errors %}
    <tr>
      <td></td>
      <td colspan="6">
        <ul>
          {% for error in newaccountgroupform.description.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    {% endif %}
  </form>

    {# UUSI TILIRYHMÄ LOPPUU #}


    {% set ns = namespace(preag=-1) %}
    {% for ag in accountgroups %}
    {% if ns.preag != ag.account_group_id %}


{% if (editaccountgroupform is defined and editaccountgroupform.id.data|int == ag.account_group_id|int) %}

<!-- -------------------------------------------------- -->

{# TILIRYHMÄN MUOKKAUS ALKAA #}

<form method="POST" action="{{ url_for('accountgroup_edit_group', accountgroup_id=editaccountgroupform.id.data) }}">
    <tr>
      <td></td>
      <td>{{ editaccountgroupform.number.data }}</td>
      <td>{{ editaccountgroupform.name }}</td>
      <td>{{ editaccountgroupform.description }}</td>
      <td>{{ editaccountgroupform.inuse }}</td>
      <td>
          <input type="hidden" name="accountgroupnumber" value="{{ editaccountgroupform.number.data }}">
          <input type="hidden" name="accountgroup_id" value="{{ ag.account_group_id }}">
      </td>
      <td>
          <input type="submit" name="action_update" value="Tallenna"/>
          <input type="submit" name="action_delete" value="Poista"/>
      </td>
  </tr>
  {% if editaccountgroupform.name.errors %}
  <tr>
    <td></td>
    <td colspan="6">
      <ul>
        {% for error in editaccountgroupform.name.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </td>
  </tr>
  {% endif %}
  {% if editaccountgroupform.description.errors %}
  <tr>
    <td></td>
    <td colspan="6">
      <ul>
        {% for error in editaccountgroupform.description.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </td>
  </tr>
  {% endif %}
</form>

{# TILIRYHMÄN MUOKKAUS LOPPUU #}



<!-- -------------------------------------------------- -->
{% else %}

{# TILIRYHMÄ ALKAA #}

    <tr class="list-group_item list-group-item-primary">
        <form method="POST" action="{{ url_for('accountgroup_select_group', accountgroup_id=ag.account_group_id) }}">
          <td>{{ ag.account_group_number }}</td>
          <td>&nbsp;</td>
          <td>{{ ag.account_group_name }}</td>
          <td>{{ ag.account_group_description }}</td>
          <td>{% if ag.account_group_inuse %} Kyll&auml; {% endif %}</td>
          <td>
              <input type="submit" value="Muuta"/>
          </td>
        </form>
        <td>&nbsp;</td>
      </tr>
      
      {# TILIRYHMÄ LOPPUU #}

{% endif %}

      {# UUSI TILI ALKAA #}

      {% if (invalidaccountform is defined and
        invalidaccountform.accountgroup_id.data == ag.account_group_id) %}

      <tr class="list-group_item list-group-item-secondary">
        <td></td>
        <td>{{ invalidaccountform.number.label }}</td>
        <td>{{ invalidaccountform.name.label }}</td>
        <td>{{ invalidaccountform.description.label }}</td>
        <td>{{ invalidaccountform.inuse.label }}</td>
        <td><!-- sarake 6 --></td>
        <td>
          <button class="btn btn-primary"
                  type="button"
                  data-toggle="collapse"
                  data-target="#addAccountToGroup{{ ag.account_group_id }}"
                  aria-expanded="true"
                  aria-controls="addAccountToGroup{{ ag.account_group_id }}">
              &#x2b;
          </button>
        </td>
      </tr>
      <form method="POST" action="{{ url_for('accountgroups_new_account', accountgroup_id=ag.account_group_id) }}">
          <tr class="collapse show">
          <td></td>
          <td>{{ invalidaccountform.number }}</td>
          <td>{{ invalidaccountform.name }}</td>
          <td>{{ invalidaccountform.description }}</td>
          <td>{{ invalidaccountform.inuse }}</td>
          <td>
            <input type="hidden" name="accountgroup_id" value="{{ ag.account_group_id }}">
          </td>
          <td>
            <input type="submit" value="Lis&auml;&auml; tili"/>
          </td>
      </tr>
      {% if invalidaccountform.number.errors %}
      <tr>
        <td></td>
        <td colspan="6">
          <ul>
            {% for error in invalidaccountform.number.errors %}
            <li>{{ invalidaccountform.number.label }} {{ error }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      {% endif %}
      {% if invalidaccountform.name.errors %}
      <tr>
        <td></td>
        <td colspan="6">
          <ul>
            {% for error in invalidaccountform.name.errors %}
            <li>{{ invalidaccountform.name.label }} {{ error }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      {% endif %}
      {% if invalidaccountform.description.errors %}
      <tr>
        <td></td>
        <td colspan="6">
          <ul>
            {% for error in invalidaccountform.description.errors %}
            <li>{{ invalidaccountform.description.label }} {{ error }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      {% endif %}
    </form>

    {% else %}

      <tr class="list-group_item list-group-item-secondary">
        <td></td>
        <td>{{ newaccountform.number.label }}</td>
        <td>{{ newaccountform.name.label }}</td>
        <td>{{ newaccountform.description.label }}</td>
        <td>{{ newaccountform.inuse.label }}</td>
        <td><!-- sarake 6 --></td>
        <td>
          <button class="btn btn-primary"
                  type="button"
                  data-toggle="collapse"
                  data-target="#addAccountToGroup{{ ag.account_group_id }}"
                  aria-expanded="false"
                  aria-controls="addAccountToGroup{{ ag.account_group_id }}">
              &#x2b;
          </button>
        </td>
      </tr>
      <form method="POST" action="{{ url_for('accountgroups_new_account', accountgroup_id=ag.account_group_id) }}">
          <tr class="collapse" id="addAccountToGroup{{ ag.account_group_id }}">
          <td></td>
          <td>{{ newaccountform.number }}</td>
          <td>{{ newaccountform.name }}</td>
          <td>{{ newaccountform.description }}</td>
          <td>{{ newaccountform.inuse }}</td>
          <td>
            <input type="hidden" name="accountgroup_id" value="{{ ag.account_group_id }}">
          </td>
          <td>
            <input type="submit" value="Lis&auml;&auml; tili"/>
          </td>
      </tr>
    </form>

      {% endif %}

      {# UUSI TILI LOPPUU #}

    {% endif %}
    {% set ns.preag = ag.account_group_id %}

    {# TILIN MUOKKAUS ALKAA #}

    {% if (editaccountform is defined and editaccountform.id.data|int == ag.account_id|int) %}

    <form method="POST" action="{{ url_for('accountgroup_edit_account', account_id=editaccountform.id.data) }}">
        <tr>
          <td></td>
          <td>{{ editaccountform.number.data }}</td>
          <td>{{ editaccountform.name }}</td>
          <td>{{ editaccountform.description }}</td>
          <td>{{ editaccountform.inuse }}</td>
          <td>
              <input type="hidden" name="accountnumber" value="{{ editaccountform.number.data }}">
              <input type="hidden" name="accountgroup_id" value="{{ ag.account_group_id }}">
          </td>
          <td>
              <input type="submit" name="action_update" value="Tallenna"/>
              <input type="submit" name="action_delete" value="Poista"/>
          </td>
      </tr>
      {% if editaccountform.name.errors %}
      <tr>
        <td></td>
        <td colspan="6">
          <ul>
            {% for error in editaccountform.name.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      {% endif %}
      {% if editaccountform.description.errors %}
      <tr>
        <td></td>
        <td colspan="6">
          <ul>
            {% for error in editaccountform.description.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      {% endif %}
    </form>

    {# TILIN MUOKKAUS LOPPUU #}

    {# TILI ALKAA #}

    {% elif ag.account_id is not none %}
      <tr>
        <form method="POST" action="{{ url_for('accountgroup_select_account', account_id=ag.account_id) }}">
          <td></td>
          <td>{{ ag.account_number }}</td>
          <td>{{ ag.account_name }}</td>
          <td>{{ ag.account_description }}</td>
          <td>{% if ag.account_inuse %} Kyll&auml; {% endif %}</td>
          <td>
            <input type="submit" value="Muuta"/>
          </td>
          <td>
              <input type="hidden" name="accountgroup_id" value="{{ ag.account_group_id }}">
          </td>
        </form>
      </tr>
    {% endif %}

    {# TILI LOPPUU #}

    {% endfor %}
  </table>
</div>
{% endblock %}