{% extends "layout.html" %}
  
{% block body %}
<form method="POST" action="{{ url_for('accounts_edit', account_id=account_id) }}">
  <table>
    <tr>
      <td>
        Tilin numero
      </td>
      <td>
        {{ number }}
      </td>
      <td>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.name.label }}
      </td>
      <td>
        {{ form.name }}
      </td>
      <td>
        <ul>
          {% for error in form.name.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.description.label }}
      </td>
      <td>
        {{ form.description }}
      </td>
      <td>
        <ul>
          {% for error in form.description.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.inuse.label }}
      </td>
      <td>
        {{ form.inuse }}
      </td>
      <td>
      </td>
    </tr>
    <tr>
      <td>
          <input type="submit" name="action_delete" value="Poista"/>
      </td>
      <td>
          <input type="submit" name="action_update" value="Tallenna"/>
      </td>
      <td>
      </td>
    </tr>
  </table>
</form>
{% endblock %}