{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Tili</th>
      <th>Tilin nimi</th>
      <th>Kuvaus</th>
      <th>Tiliryhm&auml;</th>
      <th>K&auml;yt&ouml;ss&auml;</th>
      <th></th>
    </tr>
    {% for account in accounts %}
    <tr>
        <form method="POST" action="{{ url_for('account_select_for_edit', account_id=account.id) }}">
        <td>{{ account.number }}</td>
        <td>{{ account.name }}</td>
        <td>{{ account.description }}</td>
        <td>{{ account.accountgroup_id }}</td>
        <td>{% if account.inuse %} Kyll&auml; {% endif %}</td>
        <td>
            <input type="submit" value="Muuta"/>
        </td>
      </form>
    </tr>
    {% endfor %}
  </table>
{% endblock %}