{% extends "layout.html" %}

{% block body %}
<div>
  <table class="container-fluid">
    <tr>
      <th>J&auml;rjestys</th>
      <th>Kustannuspaikka</th>
      <th>Kustannuspaikan nimi</th>
      <th>Kuvaus</th>
      <th>K&auml;yt&ouml;ss&auml;</th>
      <th></th>
      <th>
        {% if action == "FixNewDomain" %}
          &nbsp;
        {% else %}
          <button class="btn btn-primary"
                  type="button"
                  data-toggle="collapse"
                  data-target="#addDomain"
                  aria-expanded="false"
                  aria-controls="addDomain">
                  &#x2b;
          </button>
        {% endif %}
      </th>
    </tr>

    {# UUSI KUSTANNUSPAIKKA ALKAA #}

    {% if action == "FixNewDomain" %}

      <form method="POST" action="{{ url_for('domain_new_domain') }}">
        <tr>
          <td>{{ fixnewdomainform.orderer }}</td>
          <td>{{ fixnewdomainform.code }}</td>
          <td>{{ fixnewdomainform.name }}</td>
          <td>{{ fixnewdomainform.description }}</td>
          <td>{{ fixnewdomainform.inuse }}</td>
          <td></td>
          <td>
            <input type="submit" value="Lis&auml;&auml; kp"/>
          </td>
        </tr>
        {% if fixnewdomainform.orderer.errors %}
        <tr>
          <td></td>
          <td colspan="6">
            <ul>
              {% for error in fixnewdomainform.orderer.errors %}
              <li>{{ error }}</li>
              {% endfor %}
            </ul>
          </td>
        </tr>
        {% endif %}
        {% if fixnewdomainform.code.errors %}
        <tr>
          <td></td>
          <td colspan="6">
            <ul>
              {% for error in fixnewdomainform.code.errors %}
              <li>{{ error }}</li>
              {% endfor %}
            </ul>
          </td>
        </tr>
        {% endif %}
        {% if fixnewdomainform.name.errors %}
        <tr>
          <td></td>
          <td colspan="6">
            <ul>
              {% for error in fixnewdomainform.name.errors %}
              <li>{{ error }}</li>
              {% endfor %}
            </ul>
          </td>
        </tr>
        {% endif %}
        {% if fixnewdomainform.description.errors %}
        <tr>
          <td></td>
          <td colspan="6">
            <ul>
              {% for error in fixnewdomainform.description.errors %}
              <li>{{ error }}</li>
              {% endfor %}
            </ul>
          </td>
        </tr>
        {% endif %}
      </form>

    {% else %}

      <tr class="collapse" id="addDomain">
        <form method="POST" action="{{ url_for('domain_new_domain') }}">
          <td>{{ newdomainform.orderer }}</td>
          <td>{{ newdomainform.code }}</td>
          <td>{{ newdomainform.name }}</td>
          <td>{{ newdomainform.description }}</td>
          <td>{{ newdomainform.inuse }}</td>
          <td></td>
          <td>
            <input type="submit" value="Lis&auml;&auml; kp"/>
          </td>
        </form>
      </tr>
    {% endif %}

    {# UUSI KUSTANNUSPAIKKA LOPPUU #}

    {% for ag in domains %}

    {# KUSTANNUSPAIKAN MUOKKAUS ALKAA #}

      {% if (action == "EditDomain" and targetdomain|int == ag.id|int) %}

        <form method="POST" action="{{ url_for('domain_edit_domain', domain_id=targetdomain) }}">
          <tr>
            <td>{{ editdomainform.orderer }}</td>
            <td>{{ editdomainform.code.data }}</td>
            <td>{{ editdomainform.name }}</td>
            <td>{{ editdomainform.description }}</td>
            <td>{{ editdomainform.inuse }}</td>
            <td>
              <input type="hidden" id="code" name="code" value="{{ editdomainform.code.data }}">
              <input type="hidden" id="id" name="id" value="{{ ag.id }}">
            </td>
            <td>
              <input type="submit" name="action_update" value="Tallenna"/>
              <input type="submit" name="action_delete" value="Poista"/>
            </td>
          </tr>
          {% if editdomainform.orderer.errors %}
          <tr>
            <td></td>
            <td colspan="6">
              <ul>
                {% for error in editdomainform.orderer.errors %}
                <li>{{ error }}</li>
                {% endfor %}
              </ul>
            </td>
          </tr>
          {% endif %}
          {% if editdomainform.name.errors %}
          <tr>
            <td></td>
            <td colspan="6">
              <ul>
                {% for error in editdomainform.name.errors %}
                <li>{{ error }}</li>
                {% endfor %}
              </ul>
            </td>
          </tr>
          {% endif %}
          {% if editdomainform.description.errors %}
          <tr>
            <td></td>
            <td colspan="6">
              <ul>
                {% for error in editdomainform.description.errors %}
                <li>{{ error }}</li>
                {% endfor %}
              </ul>
            </td>
          </tr>
          {% endif %}
        </form>

      {% else %}

        {# KUSTANNUSPAIKKA ALKAA #}

        <form method="POST" action="{{ url_for('domain_select_domain', domain_id=ag.id) }}">
          <tr>
            <td>{{ ag.orderer }}</td>
            <td>{{ ag.code }}</td>
            <td>{{ ag.name }}</td>
            <td>{{ ag.description }}</td>
            {% if ag.inuse %}
              <td class="text-success">&#x2713;</td>
            {% else %}
              <td class="text-danger">&#x2718;</td>
            {% endif %}
            <td>
                <input type="submit" value="Muuta"/>
            </td>
            <td>&nbsp;</td>
          </tr>
        </form>
        
        {# KUSTANNUSPAIKKA LOPPUU #}

      {% endif %}

    {# KUSTANNUSPAIKAN MUOKKAUS LOPPUU #}


    {% endfor %}
  </table>
</div>
{% endblock %}